.plugManager{
  position: absolute;
  right: 60px;
  top: 30px;
  display: flex;
  background: #007bff;
  z-index: 5;
}
/* .plugManager .plug_btn:not(.activePlug):focus {
  color: #606266;
} */
.plugManager button {
  border: none;
}
.plugManager button:focus {
  box-shadow: none !important;
  background: none !important;
  border: none;
}
.plugManager button:hover {
  color: red;
  background: none;
  border: none;
}

.active {
  color: red !important;
  border: none !important;
  box-shadow: none !important;
  background: none !important;
}

.plugManager>div::after {
  content: ' ';
  border-left: 2px solid white;
  top: 2px;
  position: relative;
}
.plugManager>div:last-child:after {
  border-left:none;
}

.plugManager .dropdown-menu {
  min-width: 4rem;
}
.plugManager .dropdown-menu button.dropdown-item:focus {
  outline: none;
}
.plugManager .dropdown-menu button.dropdown-item:hover {
  background-color: #888888;
  border-radius: 0;
}