<div id='pathRoamingDiv' class='card'>
  <div class="card-body">
    <h5 class="card-title"><i class="fa fa-info-circle"></i>里程列表</h5>
    <div class="btn-group-box">
      <div class="btn-group btn-group-sm" role="group">
        <button type="button" class="btn btn-primary" role="control"><%= controlText %></button>
        <button type="button" class="btn btn-primary" role="speedUp">加速</button>
        <button type="button" class="btn btn-primary" role="slowDown">减速</button>
      </div>
    </div>    
    <div class="table-box">
      <table class="table">
        <thead>
          <tr>        
            <th scope="col">序号</th>
            <th scope="col">里程点</th>
            <th scope="col">操作</th>
          </tr>
        </thead>
        <tbody>
          <% if(tableData&&tableData.length>0){%>
            <% for(const {index,site,distance} of tableData){ %>
              <tr>        
                <td><%= index %></td>
                <td><%= site %></td>
                <td><button type="button" data-distance="<%= distance %>" class="btn btn-primary btn-sm" role='startPoint'>设为起点</button></td>
              </tr>
            <% }%>      
          <%}else {%>
            <td colspan="3">暂无数据</td>
          <% } %>
        </tbody>
      </table>
    </div>    
  </div>
  
</div>