#pathContainer .card{
  position: fixed;
  z-index: 11;
  
}
#pathContainer i.fa.fa-info-circle{
  color: #0c5460;
  margin-right: 5px;
}
/* control */
#pathRoamingDiv{
  right:10px;
  bottom:30px;
}
#pathRoamingDiv .btn-group-box{
  text-align: center;
}
#pathRoamingDiv .btn-group{
  margin-bottom: 10px;
}
#pathRoamingDiv .table-box{
  max-height: 240px;
  overflow-x: hidden;
  overflow-y: auto;
}
#pathRoamingDiv .table{
  margin-bottom: 0;
}
#pathRoamingDiv td[colspan]{
  text-align: center;
}
/* tip */
#pathTipDiv{
  right:10px;
  top:100px;
  opacity:0.8;
}

